
html, body,#root{
    height:100%;
    width:100%;
    margin:0;
}

.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "username"
    "cards"
    "message";
    gap:10px;
}

.card{
    width:100%;
    border:1px solid black;
}

.message{grid-area:message;}
.username{grid-area:username;}
main{grid-area:cards;}

.form-control::placeholder{
    color:grey !important;
    opacity: 1;
}

.hover-scale{
    transition:transform 0.2 ease-in-out;
    cursor:pointer;
}

.hover-scale:hover{
    transform:scale(1.1);
}

.row{
    padding-left:0px;
}