.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "username"
    "cards"
    "message";
    gap:10px;
}

.card{
    width:100%;
    border:1px solid black;
}

.message{grid-area:message;}
.username{grid-area:username;}
main{grid-area:cards;}